@import "variables";
@import "layout";
@import "header";
@import "footer";
@import "index";
@import "shop";
html,
body,
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
form {
  margin:3% 1%;
}
.google-power {
  margin: 2%;
}
