doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    block title
      title Simple Map
     
    link(rel="stylesheet", href="css/main.css")
  body
   
    include _header
    .container
      block content
    script(src="js/main.js")



  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
